In [10]:
import boto3
import pandas as pd
import sagemaker
from sagemaker import get_execution_role
from sagemaker.pytorch import PyTorch

In [11]:
role = get_execution_role()

sagemaker_session = sagemaker.Session()
bucket = sagemaker_session.default_bucket()

In [80]:
df = pd.read_csv("s3://training-bert/corpus.csv", nrows=10000, skiprows = 90000, usecols=[6], header=0 , names = ['content'] )

In [81]:
df.head()

                                             content
0  It was described as “the most successful strat...
1  Michelle Goldberg over at the Nation published...
2  Data-loving radicals ensure that the bait-and-...
3  WASHINGTON – Sen. Ted Cruz (R-Texas) argued th...
4  WASHINGTON – UK Member of Parliament Owen Pate...

In [82]:
df.shape

(10000, 1)

In [83]:
content = df.content.unique()
content = pd.Series(content)
content = content.str.replace('/n',' ')

In [84]:
s = content.str.cat(sep=' ')
s = s.replace('\n',' ')

In [85]:
file = open("file10000_10.txt","w") 
file.write(s) 
file.close()

In [86]:
len(s.split())

4639294

In [ ]:
# file 1 was 5110677 words
# file 2 was 5384020 words
# file 3 was 5384020 words
# file 4 was 4980765 words
# file 5 was 4801705 words
# file 6 was 4267508 words
# file 7 was 4436675 words
# file 8 was 4290472 words
# file 9 was 4800004 words
# file 10 was 4639294 words